<style>
body {
  min-width: 100%;
}

#apply {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

@media (max-width: 745px) {
  #apply {
    scale: 0.7;
    height: 134vh;
    margin-top: -35px;
  }
}
</style>

<script>
parent.document.getElementsByTagName("iframe")[0].scrolling = "no";
</script>

<div id="apply">
  TESTING EMBED MECHANICS IN GOOGLE SITES
  <br>
  <button>TEST</button>
  <br>
  <button>TEST</button>
  <br>
  <button>TEST</button>
  <br>
  <button>TEST</button>
  <br>
  <button>TEST</button>
  <br>
  <button>TEST</button>
  <br>
  <button>TEST</button>
</div>